body{
  font-family: "Open Sans";
  font-size: 16px;
  background-image: url("images/bg-desktop.svg");
  background-color: hsl(257, 40%, 49%);
  padding: 2rem;
  color: white;
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 50% 50%;
}

/*text*/
 h1{
  font-family: "Poppins";
  font-weight: 600;
 }

 /*elements*/

.button {
  background-color: white;
  padding: 1rem 4rem;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  position: relative;
  top: 2rem;
 }

.logo{
  grid-row: 1/span 1;
  grid-column: 1/span 1;
 }

.illustration{
  grid-row: 2/span 1;
  grid-column: 1/span 1;
 }

 .illustration img{
  width: 100%;
 }

.text{
  grid-row: 2/span 1;;
  grid-column: 2/span 1;
  text-align: justify;
  padding-left: 6rem;
 }

 .text h1{
  font-size: 2rem;
  width: 80%;
 }

 .text p{
  width: 90%;
 }

.icons{
  grid-row: 3/span 1;;
  grid-column: 2/span 1;;
 }

 /*media query*/

 @media only screen and (max-width: 700px) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
